<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center border p-4 rounded shadow-sm bg-light">
        <h2 class="text-success mb-3">✅ Успешно плащане!</h2>
        <p class="mb-4">Благодарим Ви за поръчката.</p>
        <a href="/" class="btn btn-primary">Обратно в магазина</a>
    </div>
</div>
